# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by nora.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

notion_token="???"                # Your Notion API secret token
notion_papers_db_id="???"         # Your Notion papers database id
notion_people_db_id="???"         # Your Notion people database id
notion_affiliations_db_id="???"   # Your Notion affiliations database id
notion_venues_db_id="???"         # Your Notion venues database id
notion_topics_db_id="???"         # Your Notion topics database id

zotero_library_id="???"           # Your Zotero library id
zotero_api_token="???"            # Your Zotero API token

HTTP_PROXY=""                     # Your HTTP proxy
HTTPS_PROXY=""                    # Your HTTPS proxy
